# Ignore Python bytecode & cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
ENV/
env/
.venv/
conda-env/
E:/data analyst/python/venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VS Code settings
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Ignore logs
*.log

# Ignore environment files
.env

# Ignore build/output folders
dist/
build/

.env







